# Node & Frontend
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Python & Backend
__pycache__/
backend/__pycache__/
*.pyc
.venv/
backend/.venv/
backend/uploads/
backend/instance/

# Python & Backend
*.db
.env
backend/.env
backend/storage/uploads/*
!backend/storage/uploads/.gitkeep

# IDE & OS
.vscode/
.idea/
.DS_Store
*.log
